#img-teste{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#teste{
    border-radius: 20px;
    max-width: 350px;
    height: auto;
}

.checkbox-container{
  padding-bottom: 20px;
}

#titulo-tratamento{
  text-align: center;
  margin-top: 15px;
  
}

#main-tratamento{
  background-color: #f6f9f9 ;
  padding-bottom: 30px;
}

.btnAvancar button{
  text-align: center;
}