#img-teste{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#teste{
    border-radius: 20px;
    max-width: 350px;
    height: auto;
}

.checkbox-container{
  padding-bottom: 20px;
}

#titulo-tratamento{
  text-align: center;
  margin-top: 15px;
  
}

#main-tratamento{
  background-color: #f6f9f9 ;
  padding-bottom: 30px;
}

.btnAvancar button{
  text-align: center;
}

.custom-checkbox{
  width: 22px;
  height: 22px;
  border-radius: 20px;

}

#txt-pontos{
  padding-left: 10px;
  text-align: center;
  padding-right: 10px;
}

.select-personalizado{
  border: 1px solid #ced4da;
  padding: 3px;
  border-radius: 5px;
  list-style: none;
  color:  #9c9d9ed3;
  
}

.select-personalizado:focus{
  border: 1px solid #bd9205;
  outline: none;
}

#img-logo{
    width:95px;
    height:95px;
}

#img-wal{
    height:250px;
    width:250px;
}