#img-teste{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#teste{
    border-radius: 20px;
    max-width: 350px;
    height: auto;
}

.checkbox-container{
  padding-bottom: 20px;
}

#titulo-tratamento{
  text-align: center;
  margin-top: 15px;
  
}

#main-tratamento{
  background-color: #f6f9f9 ;
  padding-bottom: 30px;
}

.btnAvancar button{
  text-align: center;
}

.custom-checkbox{
  width: 22px;
  height: 22px;
  border-radius: 20px;

}

#txt-pontos{
  padding-left: 10px;
  text-align: center;
  padding-right: 10px;
}

.select-personalizado{
  border: 1px solid #ced4da;
  padding: 3px;
  border-radius: 5px;
  list-style: none;
  color:  #9c9d9ed3;
  
}

.select-personalizado:focus{
  border: 1px solid #bd9205;
  outline: none;
}

#img-logo{
    width:200px;
    height:auto;
}

#img-wal{
    height:250px;
    width:250px;
}

#link-style{
    text-decoration: none;
}

#img-servicos{
    width:80px;
    height:80px;
}

.welcome-area {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}




::-webkit-scrollbar {
    width: 15px; 
}


::-webkit-scrollbar-thumb {
    background: #B5B2AC; 
}


::-webkit-scrollbar-track {
    background: #f1f1f1; 
}


::-webkit-scrollbar-thumb:active {
    background: #666; 
}

#img-wall-sobre{
    width:650px;
    height:650px;
}

.h2-valores{
    text-align:center;
}