<div class="akame-google-maps-area">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/axclb-r3Ipg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>




<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="Content/TemplateD/img/product/1.jpg">
            
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>New Arrivals</span>
                        <h2>denim jackets</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <a href="#" class="site-btn sb-line">DISCOVER</a>
                        <a href="#" class="site-btn sb-white">ADD TO CART</a>
                    </div>
                </div>
                <div class="offer-card text-white">
                    <span>from</span>
                    <h2>$29</h2>
                    <p>SHOP NOW</p>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="img/bg-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>New Arrivals</span>
                        <h2>denim jackets</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <a href="#" class="site-btn sb-line">DISCOVER</a>
                        <a href="#" class="site-btn sb-white">ADD TO CART</a>
                    </div>
                </div>
                <div class="offer-card text-white">
                    <span>from</span>
                    <h2>$29</h2>
                    <p>SHOP NOW</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
</section>


<section class="features-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="img/icons/1.png" alt="#">
                    </div>
                    <h2>Fast Secure Payments</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="img/icons/2.png" alt="#">
                    </div>
                    <h2>Premium Products</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="img/icons/3.png" alt="#">
                    </div>
                    <h2>Free & fast Delivery</h2>
                </div>
            </div>
        </div>
    </div>
</section>











<section class="contact-information-area section-padding-80-0">
    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-contact-information mb-80">
                    <i class="icon_phone"></i>
                    <h4>Phone</h4>
                    <p>+01-3-8888-6868</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-contact-information mb-80">
                    <i class="icon_pin"></i>
                    <h4>Address</h4>
                    <p>Iris Watson, 283 Fusce Rd,NY</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-contact-information mb-80">
                    <i class="icon_clock"></i>
                    <h4>Open time</h4>
                    <p>10:00 am to 23:00 pm</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-contact-information mb-80">
                    <i class="icon_mail"></i>
                    <h4>Email</h4>
                    <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f59c9b939adb969a999a87999c97b59298949c99db969a98">[email&#160;protected]</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="akame-contact-area bg-gray section-padding-80">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Leave message</h2>
                    <p>Our staff will call back later and answer your questions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <form action="#" method="post" class="akame-contact-form border-0 p-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="email" name="message-email" class="form-control mb-30" placeholder="Email">
                        </div>
                        <div class="col-12">
<textarea name="message" class="form-control mb-30" placeholder="Start the discussion..."></textarea>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn akame-btn btn-3 mt-15 active">Post Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>