@{
    ViewBag.Title = "CustomerAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-tratamento">
    <div class="container akame-contact-form border-0 p-0">
        <div id="titulo-tratamento">
            <h1>Tratamento Estético</h1>
        </div>
        <form action="#" method="post" class="akame-contact-form border-0 p-0">
            <div class="row  ">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Clientes</label>
                    <div class="input-group mb-30 ">
                        <input type="text" class="form-control" aria-label="Recipient's username"
                               aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="btnGetCliente">Buscar Cliente</button>
                    </div>
                </div>

                <div class="mb-3 " id="frmTratamento" style="display:none">
                    <label for="formFileMultiple" class="form-label">Selecione o Tratamento</label>
                    <select class="form-control mb-30" aria-label="Default select example">
                        <option selected>Tratamentos</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div id="frmRelatorios" style="display:none">
                    <div class="accordion " id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    ANAMNESE
                                </button>
                                @*<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ANAMNESE
                                    </button>*@
                            </h2>

                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <p>Tratamento Estético Anterior?</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone1" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone1" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Tratamento Médico Atual?</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="hue" name="drone2" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dwey" name="drone2" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Antecedentes Alérgicos?</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone3" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone3" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Portador de Marcapasso?</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone4" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone4" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Alterações Cardíacas:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone5" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone5" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Hipo/Hipertensão Arterial:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone6" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone6" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Distúrbio Circulatório:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone7" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone7" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Distúrbio Renal:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone8" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone8" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Distúrbio Hormonal:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone9" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone9" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Distúrbio Gastro Intestinal:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone10" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone10" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Epilepsia/Convulsões:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone11" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone11" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Alterações Psicológicas/Psiquiátricas:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone12" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone12" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Antecedentes Oncológicos:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone13" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone13" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Diabetes:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone14" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone14" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Algum Tipo de Doença:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone15" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone15" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Implante Dentário:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone16" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone16" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Tratamentos Dermatológicos:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone17" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone17" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Cirurgia Plástica Estética:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone18" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone18" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Cirurgias Em Geral:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone19" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone19" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Tabagismo:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone20" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone20" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Ingere Bebida Alcoólica:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone21" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone21" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Funcionamento Intestinal Bom:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone22" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone22" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Qualidade Do Sono é Bom:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone23" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone23" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Bebe Mais Que 2L de Água Ao Dia:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone24" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone24" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Pratica Atividade Física:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone25" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone25" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Usa Anticoncepcional:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone26" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone26" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>É Gestante:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone27" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone27" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Usa Lentes De Contato:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone28" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone28" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Utiliza Cosmédicos ou Semelhantes:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone29" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone29" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>

                                    <p>Tomou Algum Tipo De Vacina Nos Ultimos 30 Dias:</p>
                                    <div class="checkbox-container">
                                        <input type="radio" id="huey" name="drone30" value="huey" />
                                        <label for="huey">Sim</label>

                                        <input type="radio" id="dewey" name="drone30" value="dewey" />
                                        <label for="dewey">Não</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Termo De Responsabilidade
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Eu <strong>(NOME)</strong> declaro ter sido informado(a) claramente e ciente sobre
                                        todos
                                        os benefícios,
                                        os riscos, as indicações, contra-indicações, principais efeitos colaterais e
                                        advertências gerais, relacionados ao tratamento estético. Comprometo-me a seguir
                                        todas
                                        as orientações e a fazer uso de todos os produtos contidos em minha prescrição
                                        domiciliar. As declarações acima são verdadeiras, não cabendo ao profissional a
                                        Responsaabilidade por informações omitidas.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Termo de Consentimento
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Pelo presente termo, eu autorizo a realização dos procedimentos contratados conforme
                                        consta em contrato pela profissional <strong>(NOME)</strong> devidamente
                                        habilidada(o).
                                    </p>

                                    <p>
                                        Os procedimentos de aplicação via injeta=ável foi totalmente explicado e eu entendi
                                        a
                                        natureza e consequências do procedimento.
                                    </p>

                                    <p>
                                        Alguns efeitos adversos ou secundários podem ocorrer após a aplicação, com pequenas
                                        marcas transitórias nos locais ou pontos de aplicação, enrijecimento de pele,
                                        hematomas,
                                        inflamação ou reações indesejadas. Esses eventos geralmente são transitórios e
                                        reversíveis.
                                    </p>

                                    <p>
                                        Estou ciente que todos os pacientes que estão em tratamento com antibióticos do tipo
                                        espectinomicida ou aminoglicosídeos, que possuem enfermidades neuromusculares
                                        graves,
                                        grávidas, mulheres em período de lactação, com infecções ou sinais de inflamação nos
                                        locais de aplicação não podem ser submetidos a aplicação, e informo que não me
                                        enquadro
                                        nessas limitações.
                                    </p>

                                    <p>
                                        Estou ciente que a duração do resultado pode variar de acordo com cada paciente, uma
                                        vez
                                        que cada organismo reage de maneira diferente, podendo variar de 2 a 8 meses e em
                                        casos
                                        isolados até 1 ano e meio, e que os efeitos iniciais são observados a partir de 72
                                        horas, tendo seu efeito total em 30 dias. Estou ciente que a prática estética não é
                                        uma
                                        ciência exata e reconheço que apesar de ter sido informada, entendo que as
                                        possibilidades absolutas e relativas de que se atingir os objetivos não são
                                        garantidos.
                                        Estou ciente que não existe resultado definitivo e garantido. Fui claramente
                                        informada(o) das seguintes contradições, potenciais efeitos adversos e riscos: Os
                                        sintomas adversos mais comuns são: rejeição, necrose ou nódulos regionais, tontura,
                                        fraqueza, cansaço, mal-estar, náuseas, boca seca, sensibilidade à luz, reações
                                        alérgicas
                                        na pele.
                                    </p>

                                    <p>
                                        Autorizo o registro de foto do procedimento por compreender que além de ser uma
                                        prática
                                        legal, representa uma alternativa importante de esclarecimento das informações
                                        prestadas
                                        à
                                        conduta proposta.
                                    </p>

                                    <p>
                                        Autorizo que as mesmas sejam exibidas em palestras, congressos e eventos
                                        científicos,
                                        redes sociais desde que a minha identidade seja preservada.
                                    </p>

                                    <p>
                                        declaro ter recebido por escrito todas as orientações pré e pós procedimento.
                                    </p>

                                    <p>
                                        Declaro que nada omiti em relação a minha saúde e que esta declaração passe a fazer
                                        parte da minha ficha clínica, o profissional da saúde está autorizado a utilizar em
                                        qualquer época no amparo e na defesa de seus direitos. Tive a oportunidade de
                                        esclarecer
                                        minhas dúvidas relativas ao procedimento a qual irei me submeter, tendo lido e
                                        compreendido as informações deste documento. Assumo ter lido este termo de
                                        consentimento
                                        e entendo totalmente seu conteúdo. Autorizo ao profissional da saúde a realizar o
                                        procedimento em mim.
                                    </p>

                                    <p>
                                        Tenho ciência também que por ser tratar de procedimentos estéticos, estes dependes
                                        de
                                        vários outros fatores ligados ao meu estilo de vida, organismo e genética, não tendo
                                        nenhuma responsabilidade por insatisfação de minha parte o profissional responsável
                                        pelos procedimentos.
                                    </p>

                                    <h4>Data: </h4>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                                    Pontos de Aplicação
                                </button>
                            </h2>
                            <div id="collapseFor" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body pontos">
                                    <div class="checkbox-container">
                                        <input type="checkbox" id="custom-checkbox" name="ponto1" value="huey" />
                                        <label for="huey" id="txt-pontos">Gordura Localizada</label>
                                    </div>
                                    <div class="checkbox-container">
                                        <input type="checkbox" id="custom-checkbox" name="ponto1" value="huey" />
                                        <label for="huey" id="txt-pontos">Celulite</label>
                                    </div>
                                    <div class="checkbox-container">
                                        <input type="checkbox" id="custom-checkbox" name="ponto1" value="huey" />
                                        <label for="huey" id="txt-pontos">Estrias</label>
                                    </div>
                                    <div class="checkbox-container">
                                        <input type="checkbox" id="custom-checkbox" name="ponto1" value="huey" />
                                        <label for="huey" id="txt-pontos">Flacidez Tissular</label>
                                    </div>
                                    <div class="checkbox-container">
                                        <input type="checkbox" id="custom-checkbox" name="ponto1" value="huey" />
                                        <label for="huey" id="txt-pontos">Fibrose</label>
                                    </div>
                                    <div class="checkbox-container">
                                        <input type="checkbox" id="custom-checkbox" name="ponto1" value="huey" />
                                        <label for="huey" id="txt-pontos">PEIM</label>
                                    </div>
                                    <div class="checkbox-container">
                                        <input type="checkbox" id="custom-checkbox" name="ponto1" value="huey" />
                                        <label for="huey" id="txt-pontos">Skin Booster</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Pagamento
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="container mt-4">
                                    <h3>Group of Checkboxes</h3>
                                    <form method="post" class="border-0 p-0">
                                        <div class="form-group">
                                            <label for="textInput">Valor:</label>
                                            <input type="text" class="form-control col-md-4" id="txtValor">
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                                            <label class="form-check-label" for="checkbox1">Checkbox 1</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="checkbox2">
                                            <label class="form-check-label" for="checkbox2">Checkbox 2</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                                            <label class="form-check-label" for="checkbox3">Checkbox 3</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label" for "checkbox4">Checkbox 4</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="checkbox5">
                                            <label class="form-check-label" for="checkbox5">Checkbox 5</label>
                                        </div>
                                    </form>
                                </div>
                                @* <div class="accordion-body pontos">
                                    <div class="checkbox-container">
                                    <label for="huey" id="txt-pontos">Valor</label>
                                    <input type="text" name="forma0" />

                                    </div>
                                    <div class="checkbox-container">
                                    <input type="checkbox" id="custom-checkbox" name="forma1" value="huey" />
                                    <label for="huey" id="txt-pontos">Dinheiro</label>
                                    </div>
                                    <div class="checkbox-container">
                                    <input type="checkbox" id="custom-checkbox" name="forma2" value="huey" />
                                    <label for="huey" id="txt-pontos">Pix</label>
                                    </div>
                                    <div class="checkbox-container">
                                    <input type="checkbox" id="custom-checkbox" name="forma3" value="huey" />
                                    <label for="huey" id="txt-pontos">Cartão</label>
                                    <select name="plataforma" required="required" class="select-personalizado" >
                                    <option value="">Escolha quantas vezes será parcelado</option>
                                    <option value="1x">1x Sem Juros</option>
                                    <option value="2x">2x Sem Juros</option>
                                    <option value="3x">3x Sem Juros</option>
                                    <option value="4x">4x Sem Juros</option>
                                    </select>
                                    </div>
                                    <div class="checkbox-container">
                                    <input type="checkbox" id="custom-checkbox" name="forma2" value="huey" />
                                    <label for="huey" id="txt-pontos">Outros</label>
                                    </div>
                                    </div> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="button" class="btn akame-btn btn-3 mt-15 active" id="btnEnviarTratamento" style="display:none" >Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
