@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutSistemaLim.cshtml";
}

@model WebWal.Models.ClienteCompleto

<!-- Page header -->
<div class="page-header border-bottom-0">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Novo Cliente</span> - Instituto Equilibrio Wal Mendes </h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

    </div>
</div>
<!-- /page header -->
<!-- Content area -->




<div class="content pt-0">

    <!-- Inner container -->
    <div class="d-md-flex align-items-md-start">

        
        <!-- Right content -->
        <div class="tab-content w-100">
            <div class="tab-pane fade active show" id="profile">
                <!-- Profile info -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Informações do Cliente</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="card-body">
                            <form action="#">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Nome</label>
                                            <input type="text" id="txtNome" name="Nome" class="form-control">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>RG</label>
                                            <input type="text" id="txtRg" name="Rg" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>CPF</label>
                                            <input type="text" id="txtCpf" name="Cpf" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Nascimento</label>
                                            <input type="date" id="txtDtNasc" name="DataNascimento" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Idade</label>
                                            <input type="text" id="txtIdade" name="txtIdade" disabled="disabled" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>CEP</label>
                                            <input type="text" id="txtCep" name="Cep" class="form-control">
                                        </div>

                                        <div class="col-md-6">
                                            <label>Cidade</label>
                                            <input type="text" id="txtCidade" name="Cidade" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <label>Endereço</label>
                                            <input type="text" id="txtEndereco" name="Endereco" class="form-control">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                            <input type="email" id="txtEmail" name="Email" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Celular</label>
                                            <input type="text" id="txtCel" name="Celular" class="form-control">

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="txtNome">Motivo da Visita</label>
                                            <textarea id="txtMotivo" name="Motivo" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <label>Foto Cliente</label>
                                            <input type="file" name="file" class="form-input-styled" data-fouc>
                                            @*<span class="form-text text-muted">Accepted formats: gif, png, jpg. Max file size 2Mb</span>*@
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right">
                                    @*<input id="btnCadCliente" type="button" class="btn btn-success" value="Cadastar">*@
                                    <button type="submit" class="btn bg-success-400 ml-3">Cadastrar <i class="icon-more ml-2"></i></button>

                                </div>
                            </form>
                        </div>
                    }
                </div>
                <!-- /profile info -->
            </div>

        </div>
        <!-- /right content -->

    </div>
    <!-- /inner container -->

</div>




<!-- ASSINATURA MANUAL NO DOCUMENTO -->
@*<div>
        <canvas id="signature-pad" class="signature-pad" width="400" height="200"></canvas>
        <button id="clear-button">Limpar</button>
        <button id="save-button">Salvar</button>
    </div>



    <script src="~/Scripts/signature_pad.js"></script>
    <script>
        var canvas = document.getElementById('signature-pad');
        var signaturePad = new SignaturePad(canvas, {
            backgroundColor: 'rgb(255, 255, 255)',
            penColor: 'rgb(0, 0, 0)'
        });

        var clearButton = document.getElementById('clear-button');
        var saveButton = document.getElementById('save-button');

        clearButton.addEventListener('click', function () {
            signaturePad.clear();
        });

        saveButton.addEventListener('click', function () {
            debugger
            var dataURL = signaturePad.toDataURL();
            // Envie dataURL para o servidor ou faça algo com a assinatura
            alert('Assinatura salva com sucesso: ' + dataURL);
        });
    </script>*@
