
@{
    ViewBag.Title = "CustomerAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomerAppointment</h2>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
        </div>
    </div>
</div>
