@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Cliente</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Cliente</li>

                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="akame-contact-area bg-gray section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Eduardo Negreiros</h2>
                    <p>Cliente desde 19 de junho de 2023</p>
                </div>
            </div>
        </div>
        <div class="row" id="img-teste">
            <div class="col-12"></div>
            <form  id="img-teste" action="#" method="post" class="akame-contact-form border-0 p-0">
                <div class="row">
                    <img id="teste" src="~/Content/TemplateAk/img/bg-img/33.jpg" alt="">
                </div>
            </form>
        </div>
        <div class="col-12">
            <div class="section-heading text-center topo ">
                <p>Preencha os dados do cliente</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <form action="#" method="post" class="akame-contact-form border-0 p-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" id="txtNome" class="form-control mb-30" placeholder="Nome">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" id="txtCep" class="form-control mb-30" placeholder="CEP">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" id="txtEndereco" class="form-control mb-30" placeholder="Endereço">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" id="txtCidade" class="form-control mb-30" placeholder="Cidade">
                        </div>
                        <div class="col-lg-6">
                            <input type="date" id="txtDtNasc" class="form-control mb-30" placeholder="Data Nascimento">
                        </div>

                        <div class="col-lg-6">
                            <input type="text" id="txtIdade" disabled="disabled" class="form-control mb-30" placeholder="idade">
                        </div>
                        <div class="col-lg-6">
                            <input type="email" id="txtEmail" class="form-control mb-30" placeholder="Email">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" id="txtCel" class="form-control mb-30" placeholder="Celular">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" id="txtCpf" class="form-control mb-30" placeholder="CPF">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" id="txtRg" class="form-control mb-30" placeholder="RG">
                        </div>
                        
                        

                    </div>
                </form>
            </div>
        </div>
    </div>
 

 <hr>

</section>

<section class="akame-contact-area bg-gray section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Telefone</th>
                            <th>Idade</th>
                            <th>Data Nascimento</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>123.456.789-00</td>
                            <td>(123) 456-7890</td>
                            <td>35</td>
                            <td>1988-05-15</td>
                            <td>
                                <a href="#" class="btn btn-primary">Editar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>987.654.321-00</td>
                            <td>(555) 123-4567</td>
                            <td>42</td>
                            <td>1981-08-22</td>
                            <td>
                                <a href="#" class="btn btn-primary">Editar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>456.789.123-00</td>
                            <td>(999) 555-4321</td>
                            <td>28</td>
                            <td>1995-03-10</td>
                            <td>
                                <a href="#" class="btn btn-primary">Editar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>789.123.456-00</td>
                            <td>(777) 888-9999</td>
                            <td>52</td>
                            <td>1971-11-05</td>
                            <td>
                                <a href="#" class="btn btn-primary">Editar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>321.654.987-00</td>
                            <td>(111) 222-3333</td>
                            <td>45</td>
                            <td>1978-09-30</td>
                            <td>
                                <a href="#" class="btn btn-primary">Editar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Brielle Williamson</td>
                            <td>654.321.987-00</td>
                            <td>(444) 777-8888</td>
                            <td>37</td>
                            <td>1986-12-18</td>
                            <td>
                                <a href="#" class="btn btn-primary">Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>

    <script>
        new DataTable('#example');
    </script>
</section>