
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Outros Serviços</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="akame-service-area">

    <div class="single--service--item d-flex flex-wrap align-items-center">

        <div class="service-content">
            <div class="service-text">
                <h2>Harmonização Facial</h2>
                <p>A Harmonização Facial realça a beleza natural com procedimentos não cirúrgicos, promovendo equilíbrio e simetria facial.</p>
                <p>Realizada por profissionais qualificados, é uma opção segura e eficaz para aprimorar a autoestima.</p>

            </div>
        </div>

        <div class="service-thumbnail bg-img jarallax" style="background-image: url(/Content/TemplateAk/img/bg-img/harmo-facial.png);"></div>
    </div>

    <div class="single--service--item odd-item d-flex flex-wrap align-items-center">

        <div class="service-thumbnail bg-img jarallax" style="background-image: url(/Content/TemplateAk/img/bg-img/harmo-corporal.png);"></div>

        <div class="service-content">
            <div class="service-text">
                <h2>Harmonização Corporal</h2>
                <p>A Harmonização Corporal é um conjunto de procedimentos estéticos não invasivos para realçar a beleza e simetria do corpo.</p>
                <p>Realizada por profissionais experientes, é uma opção segura e eficaz para melhorar a autoestima.</p>

            </div>
        </div>
    </div>

    <div class="single--service--item d-flex flex-wrap align-items-center">

        <div class="service-content">
            <div class="service-text">
                <h2>Laser Rejuvenescimento <br /> e Depilação</h2>
                <p>O Laser Rejuvenescimento revitaliza a pele, reduzindo rugas e imperfeições para um visual jovem e saudável.</p>
                <p>Realizado por profissionais experientes, é uma opção segura e eficaz para restaurar a aparência da pele.</p>

            </div>
        </div>

        <div class="service-thumbnail bg-img jarallax" style="background-image: url(/Content/TemplateAk/img/bg-img/homem-mulher-laser.png);"></div>
    </div>


    <div class="single--service--item odd-item d-flex flex-wrap align-items-center">

        <div class="service-thumbnail bg-img jarallax" style="background-image: url(/Content/TemplateAk/img/bg-img/efeito-colageno.jpg);"></div>

        <div class="service-content">
            <div class="service-text">
                <h2>Bioestimulador de Colágeno</h2>
                <p>O Bioestimulador de Colágeno é um tratamento que estimula a produção natural de colágeno, melhorando a firmeza da pele.</p>
                <p>Realizado por profissionais experientes, é uma opção segura e eficaz para rejuvenescer a pele.</p>

            </div>
        </div>
    </div>
    <div class="single--service--item d-flex flex-wrap align-items-center">

        <div class="service-content">
            <div class="service-text">
               <h2>Injetáveis Estéticos</h2>
<p>Os Injetáveis Estéticos são procedimentos não cirúrgicos que melhoram a aparência facial, suavizando rugas e realçando traços.</p>
<p>Realizados por profissionais experientes, são uma opção segura e eficaz para rejuvenescer o rosto.</p>

            </div>
        </div>

        <div class="service-thumbnail bg-img jarallax" style="background-image: url(/Content/TemplateAk/img/bg-img/injetavel.jpg);"></div>
    </div>


</section>



